:root {
  --header: 4.5rem;
}

.header {
  height: var(--header);
  @apply flex flex-wrap items-center justify-between border-b border-white/20 bg-black px-4 lg:px-10;
  @screen lg {
    @apply justify-start;
  }
}

.navbar {
  @apply fixed top-0 left-0 z-50 flex h-full w-full bg-black/50;
  @screen lg {
    @apply relative block h-auto bg-transparent;
  }
  &__list {
    padding-top: var(--header);
    @apply inline-flex w-64 flex-col flex-wrap bg-black;
    @screen lg {
      @apply w-auto flex-row bg-transparent pt-0;
    }
  }
  &__item {
    @apply lg:flex-auto;
    &:first-child {
      @apply border-t border-white/30;
      @screen lg {
        @apply border-none;
      }
    }
  }
  &__link {
    @apply relative flex h-10 items-center px-4 text-base font-light text-white text-opacity-80;
    @screen lg {
      height: var(--header);
      @apply text-sm;
    }
    &.router-link-exact-active {
      @screen lg {
        &::before,
        &::after {
          content: '';
          @apply absolute bottom-0 z-20 inline-block h-4 w-3 border-b border-white/20 bg-black;
        }
        &::before {
          @apply left-1/2 -translate-x-3 rounded-br-lg;
        }
        &::after {
          @apply right-1/2 translate-x-3 rounded-bl-lg;
        }
        .additional {
          @apply absolute bottom-0 left-1/2 z-10 h-px w-6 -translate-x-1/2 bg-black;
        }
      }
    }
  }
}

/* Nav Icons */
.nav-icon {
  @apply hidden space-x-3;
  @screen lg {
    @apply flex flex-row;
  }
  &__item {
    @apply mb-0 inline-block;
  }
  &__button {
    @apply relative inline-flex h-8 w-8 items-center justify-center rounded-full bg-white/10 outline-none transition-colors;
    svg {
      @apply text-lg text-white;
    }
    &:hover {
      @apply bg-white/20;
    }
    &--active {
      &::before {
        content: '';
        @apply absolute bottom-1 left-1/2 h-1 w-1 -translate-x-1/2 animate-pulse rounded bg-green-500;
      }
    }
  }
}
